/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 50px;
  background-color: #FF9A4B;
}

main {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.main-content {
  width: 300px;
  background-color: #EEEEEE;
  padding: 10px;
  margin-right: 30px;
  position: relative;
}

.main-content:last-child {
  margin-right: 0;
}

.main-image1 {
  height: 150px;
  background-image: url(img/flow01.png);
  background-position: bottom;
  background-size: cover;
}

.main-image2 {
  height: 150px;
  background-image: url(img/flow02.png);
  background-position: bottom;
  background-size: cover;
}

.main-image3 {
  height: 150px;
  background-image: url(img/flow03.png);
  background-position: bottom;
  background-size: cover;
}

.main-step {
  background-color: #FF9A4B;
  color: #FFF;
  position: absolute;
  top: 0;
  left: 0;
}

.main-title {
  margin-top: 15px;
  margin-bottom: 5px;
}

footer {
  height: 50px;
  background-color: #AAAAAA;
}

@media screen and (max-width:600px) {
  main {
  width: 100%;
  display: block;
  
}

.main-content {
  width: 90%;
  margin: 0 20px 5% 5%;
}

}